.mat-table {
    display: table;
    width: 100%;
}
.mat-cell,
.mat-header-cell {
padding-top: 4px;
padding-bottom: 4px;
}
th.mat-column-name{
  background-color:  #f4f5f7;
}
th.mat-column-no{
  background-color: #f4f5f7;
}
th.mat-column-avatar{
  background-color: #f4f5f7;
}
th.mat-column-city{
  background-color: #f4f5f7;
}
th.mat-column-address{
  background-color: #f4f5f7;
}
th.mat-column-phone{
  background-color: #f4f5f7;
}
th.mat-column-option{
  background-color: #f4f5f7;
}
th.mat-column-postal{
  background-color: #f4f5f7;
}
th.mat-column-email{
  background-color: #f4f5f7;
}
.mat-column-no{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 6% !important;
}
.mat-column-email{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 17% !important;
}
.mat-column-avatar{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 10% !important;
} 
  .mat-column-name{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 10% !important;
}
.mat-column-city{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 10% !important;
}
.mat-column-address{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 10% !important;
}
.mat-column-phone{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 10% !important;
}
.mat-column-postal{
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 10% !important;
}
#myInput {
  background-image: url('../../../../assets/serachicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}    
.info{
  color: #fb6340;
}