<div class="header bg-gradient-danger pb-8 pt-5 pt-md-6">
  <!-------------------------------------------update-->
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row ">
    <div class="col-xl-12 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h2 class="mb-0">List Role</h2>
            </div>
            <div class="col text-right">
              <button mat-raised-button color="primary" (click)="addrole()"><span
                  style="width: 130px;display: inline-block;">Add Role</span></button>
            </div>
          </div>
        </div>
        <mat-divider></mat-divider>
        <mat-card>
          <input type="text" id="myInput" class="fad fa-search" (keyup)="applyFilter($event)"
            placeholder="Search for names" title="Type in a name">
          <div class="example-container mat-elevation-z1" [hidden]="!isTableHasData">
            <table mat-table [dataSource]="dataSource">
              <!-- numRole Column -->
              <!--meme nom dans display column****************Row 0-->
              <ng-container matColumnDef="no">
                <th mat-header-cell *matHeaderCellDef> No </th>
                <!--dans objet Role il faut a attribut name==****DAta-->
                <td mat-cell *matCellDef="let element;index as i"> {{i+1}} </td>
              </ng-container>
              <!-- Role Column -->
              <!--meme nom dans display column****************Row 0-->
              <ng-container matColumnDef="role">
                <th mat-header-cell *matHeaderCellDef><span> Role</span> </th>
                <!--dans objet Role il faut a attribut name==****DAta-->
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>
              <!-- description -->
              <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef> Description</th>
                <td mat-cell *matCellDef="let element"> {{element.description}} </td>
              </ng-container>
              <!-- Option Column -->
              <ng-container matColumnDef="option">
                <th mat-header-cell *matHeaderCellDef> Option </th>
                <td mat-cell *matCellDef="let element" class="info">
                  <button mat-icon-button *ngIf="element.id!=1" (click)="edit(element)">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-icon-button style="color:warn" *ngIf=" element.id!=1 " (click)="openDialog(element.id)">
                    <mat-icon>delete</mat-icon>
                  </button>
                  <button mat-icon-button (click)="view(element)">
                    <mat-icon>face</mat-icon>
                  </button>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons style=" background-color: #f4f5f7;">
            </mat-paginator>
          </div>
          <div [hidden]="isTableHasData" style="text-align: center;">
            <img src=".../../../../assets/NoRecordFound1.png">
          </div>
          <!-- Copyright 2019 Google LLC. All Rights Reserved.
          Use of this source code is governed by an MIT-style license that
          can be found in the LICENSE file at http://angular.io/license -->
        </mat-card>
      </div>
    </div>
  </div>