<!--<div style="width: 400px ">
    <h1 mat-dialog-title style="color: crimson;">Add Task</h1>
    <div class="mat-typography">
        <div class="mycontaine">
            <form [formGroup]="projectgroup" class="form">
                <mat-form-field class="col">
                    <mat-label>name</mat-label>
                    <input matInput [(ngModel)]="task.name" formControlName="nameFormControl">
                    <mat-error *ngIf="projectgroup.get('nameFormControl').invalid">
                        Name is <strong> required</strong>
                    </mat-error>
                </mat-form-field><br>
                <mat-form-field class="col">
                    <mat-select placeholder="Employee " [(ngModel)]="employeeSelectedValue" id="clientselect"
                        formControlName="employeeFormControl" name="client">
                        <mat-option *ngFor="let employee of employees;" [value]="employee">
                            {{employee.username}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="projectgroup.get('employeeFormControl').invalid">
                        employee is <strong> required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="col">
                    <mat-select placeholder="Type Task" [(ngModel)]="typetaskSelectedValue" id="typetask"
                        formControlName="typetaskFormControl" name="typetask">
                        <mat-option *ngFor="let typetask of typetasks;" [value]="typetask">
                            {{typetask.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="projectgroup.get('typetaskFormControl').invalid">
                        type task is <strong> required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="col">
                    <mat-select placeholder="Priority Task" [(ngModel)]="prioritytaskSelectedValue" id="prioritytask"
                        formControlName="prioritytaskFormControl" name="prioritytask">
                        <mat-option *ngFor="let prioritytask of prioritytasks;" [value]="prioritytask">
                            {{prioritytask.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="projectgroup.get('prioritytaskFormControl').invalid">
                        priority task is <strong> required</strong>
                    </mat-error>
                </mat-form-field>
                <div class="duration">
                    <input type="hidden" name="example6" />
                    <span id="btn-example6">Select Value</span>
                </div>
            </form>
        </div>
        <br>
    </div>
    <div class="buttons">
        <button mat-raised-button color="primary" (click)="onNoClick()"
            style="margin-right: 15px;width: 180px;display: inline-block;background-color: red;">Cancel</button>
        <button mat-raised-button color="primary" (click)="onClick()" [mat-dialog-close]="task" cdkFocusInitial
            style="width: 180px;display: inline-block;">Edit</button>
    </div>-->

    