.example-card {
max-width: 400px;
}
.scrollbox {
    height: 245px;
    overflow: auto;
    visibility: hidden;
}
.scrollbox-content,
.scrollbox:hover,
.scrollbox:focus {
    visibility: visible;
}
.scrollbox_delayed {
    transition: visibility 3s;
}
.scrollbox_delayed:hover {
    transition: visibility 0s 0.2s;
}
.backgroundimage{
    background-size: cover;
}