.user-image{
  min-height: 100%;
  max-width: 100%;
  position: relative;
  // .user-status{
  //   text-align: center;
  //   cursor: default;
  //     // display: inline-block;
  //     // opacity: 1;
  //   border-radius: 50%;
  //   max-height: 15px;
  //   max-width: 15px;
  //   display: inline-block;
  //   // background: red;
  //   bottom: 0;
  //   right: 0;
  //   transition: opacity .5s linear;
  //   color: white !important;
  //   padding: 0px;
  //   font-size: 5px;
  // }
  .user-status {
    // display: inline-block;
    text-align: center;
    background-color: black;
    border-radius: 50%;
    bottom: 0;
    right: 0;
    position: absolute;
    height: 15px;
    width: 15px;
    padding: 0px;
    font-size: 9px;
    fa-icon{
      color: white;
      svg {
        // display: table-cell;
        vertical-align: middle; 
        text-align: center;
        text-decoration: none;
        margin: 0 auto;
      }
    }
  }
}
.dimention{
  max-width: 40px;
  max-height: 40px;
  min-width: 40px;
  min-height: 40px;
}