<div style="width: 400px ;height: 525px;">
  <h1 mat-dialog-title style="color: crimson;">Add society</h1>
  <mat-form-field class="col">
    <input matInput placeholder="Company name *" id="name" [formControl]="FormControl" name="name"
      [(ngModel)]="society.name">
    <mat-error *ngIf="FormControl.hasError('required')">
      Name is<strong> required</strong>
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field class="col">
    <input matInput placeholder="Email *" id="email" name="email" [(ngModel)]="society.email">
  </mat-form-field>
  <br>
  <!------------------------------------------city-->
  <mat-form-field class="col">
    <mat-select placeholder="City" [formControl]="villeControl" name="city" [(ngModel)]="society.city">
      <mat-option>-- None --</mat-option>
      <mat-optgroup *ngFor="let group of villeGroups" [label]="group.name">
        <!--<mat-optgroup *ngFor="let group of villeGroups" [label]="group.name"
                        [disabled]="group.disabled">-->
        <mat-option *ngFor="let ville of group.ville" [value]="ville.value">
          {{ ville.viewValue }}
        </mat-option>
      </mat-optgroup>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field class="col">
    <mat-label>Company address</mat-label>
    <input matInput input matInput placeholder="Address " name="address" [(ngModel)]="society.address">
  </mat-form-field><br>
  <!--------------------------------------phone-->
  <mat-form-field class="col">
    <span matPrefix>+216 &nbsp;</span>
    <input matInput placeholder="phone " [formControl]="TelControl" name="phone" [(ngModel)]="society.phone">
    <mat-error *ngIf="TelControl.hasError('required')">
      Phone is <strong> required</strong>
    </mat-error>
    <mat-icon matSuffix>
      <i class="material-icons">perm_phone_msg</i>
    </mat-icon>
  </mat-form-field>
  <br>
  <!------------------------------------------------Fax-->
  <mat-form-field class="col">
    <span matPrefix>+216 &nbsp;</span>
    <input matInput placeholder="Fax " [formControl]="FaxControl" name="Fax" [(ngModel)]="society.fax">
    <mat-error *ngIf="FaxControl.hasError('required')">
      Phax is <strong> required</strong>
    </mat-error>
    <mat-icon matSuffix>
      <i class="material-icons">perm_phone_msg</i>
    </mat-icon>
  </mat-form-field>
  <br>
  <!------------------------------------------------postal code-->
  <mat-form-field class="col">
    <input matInput placeholder="Code Postal " name="postalcode" [(ngModel)]="society.postalCode">
  </mat-form-field>
  <div class="row custom-wrapper">
    <div class="col-md-12">
      <div class="group-gap">
        <!-- Upload image -->
        <div class="avatar-upload">
          <div class="avatar-edit">
            <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" #fileInput
              (change)="fileChangeEvent($event)" />
          </div>
          <div class="avatar-preview">
            <div id="imagePreview" [style.backgroundImage]="'url('+ cardImageBase64 +')'">
            </div>
          </div>
        </div>
      </div>
      <!-- Submit Button -->
      <button type="submit" class="btn btn-danger btn-lg btn-block" (click)="fileInput.click()">Upload Logo</button>
    </div>
  </div>
  <br><br>
  <div class="buttons">
    <button mat-raised-button color="primary" (click)="onNoClick()"
      style="margin-right: 15px;width: 180px;display: inline-block;background-color: red;">Cancel</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="society" cdkFocusInitial
      style="width: 180px;display: inline-block;">Add</button>
  </div>
  <br>
</div>