table {
  width: 100%;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
td, th {
  width: 25%;
}
/*header*/
.cardheader{
  height: 4%;
}
.demo-menu section {
  display: flex;
  align-items: center;
  margin: 2px;
}
p {
  padding: 5px 15px;
}
.widhin{
    width: 20%;
}
th.mat-column-no{
  background-color: #f4f5f7;
}
th.mat-column-name{
  background-color: #f4f5f7;
}
th.mat-column-description{
  background-color: #f4f5f7;
}
th.mat-column-option{
  background-color: #f4f5f7;
}
.mat-table {
  display: table;
  width: 100%;
}
#myInput {
background-image: url('../../../../../assets/serachicon.png ');
background-position: 10px 10px;
background-repeat: no-repeat;
width: 100%;
font-size: 16px;
padding: 12px 20px 12px 40px;
border: 1px solid #ddd;
margin-bottom: 12px;
}    
.info{
color: #fb6340;
}
