/*.btn-secondary{
  background-color: #f4f5f7;
  min-width: 100%;
}*/
canvas {
  max-width: 500px;
  max-height: 500px;
  }
video {
  display: none;
}
.carousel-indicators {
  display: none;
}
.button{
  color: red;
}
.carousel-multi-item .carousel-inner .carousel-item.active, .carousel-multi-item .carousel-item-next, .carousel-multi-item .carousel-item-prev {
  display: flex;
}
::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active{
      width: 50%!important;
      padding: 3px!important;
      margin: 3px!important;
    }
    .containerimage {
    height: 270px;
    padding: 2rem;
    text-align: center;
    border: dashed 1px #979797;
    position: relative;
    margin: 0 auto;
    input {
      opacity: 0;
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    label {
      color: white;
      width: 183px;
      height: 44px;
      border-radius: 21.5px;
      background-color: #db202f;
      padding: 8px 16px;
    }
    h3 {
      font-size: 20px;
      font-weight: 600;
      color: #38424c;
    }
  }
  .fileover {
    animation: shake 1s;
    animation-iteration-count: infinite;
  }
  .files-list {
    margin-top: 1.5rem;
    .single-file {
      display: flex;
      padding: 0.5rem;
      justify-content: space-between;
      align-items: center;
      border: dashed 1px #979797;
      margin-bottom: 1rem;
      .delete {
        display: flex;
        margin-left: 0.5rem;
        cursor: pointer;
        align-self: flex-end;
      }
      display: flex;
      flex-grow: 1;
      .name {
        font-size: 14px;
        font-weight: 500;
        color: #353f4a;
        margin: 0;
      }
      .size {
        font-size: 12px;
        font-weight: 500;
        color: #a4a4a4;
        margin: 0;
        margin-bottom: 0.25rem;
      }
      .info {
        width: 100%
      }
    }
  }
  /* Shake animation */
  @keyframes shake {
    0% {
      transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
      transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
      transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
      transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
      transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
      transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
      transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
      transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
      transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
      transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
      transform: translate(1px, -2px) rotate(-1deg);
    }
  }
  .this-is-a-class{
    /*not display the element*/
    display: none;
  }
  .containerimagefiles {
    width: 450px;
    height: 250px;
    padding: 2rem;
    text-align: center;
    border: dashed 1px #979797;
    position: relative;
    margin: 0 auto 40px auto;
    input {
      opacity: 0;
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    label {
      color: white;
      width: 183px;
      height: 44px;
      border-radius: 21.5px;
      background-color: #db202f;
      padding: 8px 16px;
    }
    h3 {
      font-size: 20px;
      font-weight: 600;
      color: #38424c;
    }
  }
  .example-header-image {
    background-image: url('../../../../assets/cardimage.png');
    background-size: cover;
  }
  .browse{
    width: 100%!important;
    background-color: #f4f5f7;
    height:50px;
}
.my-class{
  width: 30%;
  background-color: #11cdef; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 10px;
  width: 30%;
}
.scrollbox {
  max-height: 256px;
  overflow: auto;
  visibility: hidden;
}
.scrollbox-content,
.scrollbox:hover,
.scrollbox:focus {
  visibility: visible;
}
.scrollbox_delayed {
  transition: visibility 3s;
}
.scrollbox_delayed:hover {
  transition: visibility 0s 0.2s;
}