<div class="header bg-gradient-danger pb-8 pt-5 pt-md-6">
  <!-------------------------------------------update-->
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row ">
    <div class="col-xl-12 mb-5 mb-xl-0">
      <div class="card">
        <div class="card-header border-0" style="padding: 0px;">
          <div class="d-flex p-0 align-items-center justify-content-center" style="height: 450px;">
            <div class="d-flex flex-row h-75 w-75 shadow border" [class.h-75]="showcaseMode" [class.w-75]="showcaseMode"
              [class.h-100]="!showcaseMode" [class.w-100]="!showcaseMode" style="overflow: hidden">
              <vng-chat class="w-100"></vng-chat>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>