.col{
    width: 100%;
}
.buttons{
    text-align: center;
}
span{
    padding: 10px;
    margin-top: 0px;
    display: block;
    color: green;
    margin-top: 3px;
}
.duration{
    margin: 14px 0px 5px 3px;
}